body {
    background-color: #FEFFEA;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #A3DE83;
    border-radius: 5px;
    /* box-shadow: 0 9px #999; */
    margin-bottom: 20px;
}

button {
    color: white;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
    /* box-shadow: 0 9px #999; */
    /* transition: all 0.1s; */
}

button:active {
    /* box-shadow:0 5px #666; */
    /* transform: translateY(4px); */
}

#input-btn {
    background-color: #6B9C17;
    border-color: #6B9C17;
}

#input-btn:hover {
    background-color: #8BC91E;
}

#input-btn:active {
    background-color: #527812;
}

#tab-btn {
    background-color: #E9B824;
    border-color: #E9B824;
}

#tab-btn:hover {
    background-color: #F2BF24;
}

#tab-btn:active {
    background-color: #C99F1E;
}

#delete-btn {
    color: #D83F31;
    background-color: #FFEBEB;
    border-color: #D83F31;
}

#delete-btn:hover {
    color: #FFEBEB;
    background-color: #D83F31;
    border-color: #D83F31;
}

#delete-btn:active {
    color: #FFEBEB;
    background-color: #DB0C00;
    border-color: #DB0C00;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


